version: "3.9"

services:
  homepage_redis:
      container_name: homepage_redis
      image: jstet/homepage_redis:latest
      ports:
        - 6379
      networks:
       - db
      healthcheck:
        test: ["CMD", "redis-cli","ping"]
      deploy:
        mode: global
        placement:
          constraints:
            - node.role==manager
        restart_policy:
          condition: on-failure 
  homepage:
    image: jstet/homepage:latest
    ports:
      - 3000
    networks:
      - proxy
      - db
    deploy:
      labels:
      - "traefik.enable=true"
      - "traefik.http.routers.homepage.entrypoints=http"
      - "traefik.http.routers.homepage.rule=Host(`{{  HOMEPAGE_DOMAIN  }}`)"
      - "traefik.http.middlewares.homepage-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.homepage.middlewares=homepage-https-redirect"
      - "traefik.http.routers.homepage-secure.entrypoints=https"
      - "traefik.http.routers.homepage-secure.rule=Host(`{{  HOMEPAGE_DOMAIN  }}`)"
      - "traefik.http.routers.homepage-secure.tls=true"
      - "traefik.http.routers.homepage-secure.tls.certresolver=http"
      - "traefik.http.routers.homepage-secure.service=homepage"
      - "traefik.http.services.homepage.loadbalancer.server.port=3000"
      - "traefik.docker.network=proxy"
      mode: replicated
      replicas: 2
      restart_policy:
        condition: on-failure
      resources:
        limits:
          cpus: '0.2'
          memory: 250M
        reservations:
          cpus: '0.1'
          memory: 125M

networks:
  proxy:
    external: true
  db:
    name: db
    driver: overlay

 
